body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #4228b7, #cda7ee);
  margin: 0;
  padding: 0;
  color: #f3f660e8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.glass {
  background:linear-gradient(135deg, #4228b7, #cda7ee);
  border-radius: 20px;
  padding: 40px;
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px linear-gradient(135deg, #4228b7, #cda7ee);
  text-align: center;
  width: 400px;
  max-width: 90%;
}

.login-box input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #8f94fb, #4e54c8);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.login-box button:hover {
  transform: scale(1.05);
}

.album-art {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(71, 14, 14, 0.3);
}

.album-art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* .album-art img.playing {
  animation: rotate 10s linear infinite;
} */

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#currentSong {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

#progress {
  width: 70%;
  accent-color: #efaf9d;
}

#player-controls {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.control-btn {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #eab272;
  margin: 0 10px;
  font-size: 22px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.control-btn:hover {
  background: rgba(248, 75, 75, 0.602);
  transform: scale(1.1);
}

#songList {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  max-height: 200px;
  overflow-y: auto;
}

#songList li {
  background: rgba(255, 255, 255, 0.15);
  margin: 5px 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#songList li:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.03);
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
}